body {
    margin: 0;
    overflow: hidden;
    background: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    /* justify-items: column; */
}

#carCanvas {
    background: lightgray;
}

#networkCanvas {
    background: black;
}